##
# Entity & Relationship definitions for a LEO satellite:
#   model: "Generation 3"
#   id: {{ .short_name }}
#
# Defines:
#  - an EK_PLATFORM w/
#    - motion placeholder
#    - 4 feeder link antennas (TBD)
#    - 2 user terminal TX antennas (TBD)
#    - 1 user terminal RX antenna (TBD)
#     - EK_PORTs
#     - an EK_NETWORK_NODE node w/
#       - EK_INTERFACEs, each of which RK_TRAVERSES one of the EK_PORTs
##
entity {
  id: "uuid8({{ .short_name }}/platform)"

  labels { key: "display_name" value: "{{ .display_name }}" }
  labels { key: "display_type" value: "Satellite/LEO" }
  labels { key: "model" value: "Generation 3" }

  ek_platform {
    motion {
{{ range .motion }}
      entry { {{ . }} }
{{ end }}
    }
  }
}
entity {
  id: "uuid8({{ .short_name }}/port/interplane_east)"
  ek_port {
    name: "interplane_east"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/interplane_east)"
}
entity {
  id: "uuid8({{ .short_name }}/port/interplane_west)"
  ek_port {
    name: "interplane_west"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/interplane_west)"
}
entity {
  id: "uuid8({{ .short_name }}/port/interplane_north)"
  ek_port {
    name: "interplane_north"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/interplane_north)"
}
entity {
  id: "uuid8({{ .short_name }}/port/interplane_south)"
  ek_port {
    name: "interplane_south"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/interplane_south)"
}
entity {
  id: "uuid8({{ .short_name }}/port/feeder0)"
  ek_port {
    name: "feeder0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/feeder0)"
}
entity {
  id: "uuid8({{ .short_name }}/port/feeder1)"
  ek_port {
    name: "feeder1"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/feeder1)"
}
entity {
  id: "uuid8({{ .short_name }}/port/feeder2)"
  ek_port {
    name: "feeder2"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/feeder2)"
}
entity {
  id: "uuid8({{ .short_name }}/port/feeder3)"
  ek_port {
    name: "feeder3"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/feeder3)"
}
entity {
  id: "uuid8({{ .short_name }}/port/user_tx0)"
  ek_port {
    name: "user_tx0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/user_tx0)"
}
entity {
  id: "uuid8({{ .short_name }}/port/user_tx1)"
  ek_port {
    name: "user_tx1"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/user_tx1)"
}
entity {
  id: "uuid8({{ .short_name }}/port/user_rx0)"
  ek_port {
    name: "user_rx0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/port/user_rx0)"
}
entity {
  id: "uuid8({{ .short_name }}/network_node)"
  ek_network_node {
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/platform)"
  z: "uuid8({{ .short_name }}/network_node)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/interplane_east)"
  ek_interface {
    name: "interplane_east"
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/interplane_east)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/interplane_east)"
  z: "uuid8({{ .short_name }}/port/interplane_east)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/interplane_west)"
  ek_interface {
    name: "interplane_west"
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/interplane_west)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/interplane_west)"
  z: "uuid8({{ .short_name }}/port/interplane_west)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/interplane_north)"
  ek_interface {
    name: "interplane_north"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/interplane_north)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/interplane_north)"
  z: "uuid8({{ .short_name }}/port/interplane_north)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/interplane_south)"
  ek_interface {
    name: "interplane_south"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/interplane_south)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/interplane_south)"
  z: "uuid8({{ .short_name }}/port/interplane_south)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/feeder0)"
  ek_interface {
    name: "feeder0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/feeder0)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/feeder0)"
  z: "uuid8({{ .short_name }}/port/feeder0)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/feeder1)"
  ek_interface {
    name: "feeder1"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/feeder1)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/feeder1)"
  z: "uuid8({{ .short_name }}/port/feeder1)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/feeder2)"
  ek_interface {
    name: "feeder2"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/feeder2)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/feeder2)"
  z: "uuid8({{ .short_name }}/port/feeder2)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/feeder3)"
  ek_interface {
    name: "feeder3"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/feeder3)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/feeder3)"
  z: "uuid8({{ .short_name }}/port/feeder3)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/user_tx0)"
  ek_interface {
    name: "user_tx0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/user_tx0)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/user_tx0)"
  z: "uuid8({{ .short_name }}/port/user_tx0)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/user_tx1)"
  ek_interface {
    name: "user_tx1"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/user_tx1)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/user_tx1)"
  z: "uuid8({{ .short_name }}/port/user_tx1)"
}
entity {
  id: "uuid8({{ .short_name }}/intf/user_rx0)"
  ek_interface {
    name: "user_rx0"
#    max_data_rate_bps: 1.0E10
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/intf/user_rx0)"
}
relationship {
  kind: RK_TRAVERSES
  a: "uuid8({{ .short_name }}/intf/user_rx0)"
  z: "uuid8({{ .short_name }}/port/user_rx0)"
}
entity {
  id: "uuid8({{ .short_name }}/network_node/ipvrf0)"
  ek_route_fn {
    router_id: {
      dotted_quad: {
        str: "{{ .router_id }}"
      }
    }
  }
}
relationship {
  kind: RK_CONTAINS
  a: "uuid8({{ .short_name }}/network_node)"
  z: "uuid8({{ .short_name }}/network_node/ipvrf0)"
}
##
# The primary SDN controls the satellte's network node.
##
relationship {
  kind: RK_CONTROLS
  a: "uuid8(sdn_proxy_agent/primary)"
  z: "uuid8({{ .short_name }}/network_node)"
}
